@import "./_reset.scss";

@import "./form.scss";
@import "./mixin.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #191919;
  color: white;
}
